# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
package-lock.json

# testing
coverage
__screenshots__
vitest.config.ts.timestamp*
tsconfig.vitest-temp.json

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*
npm-debug.*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# for build
dist
esm

# graph
graph/

# macOS
.DS_Store
*.tsbuildinfo
