# transforms testfixtures
packages/codemods/src/transforms/testfixtures/**
pnpm-lock.yaml
**/.next
**/coverage
**/dist
**/tsconfig.vitest-temp.json
packages/**/tsup.config.bundled*.mjs
.changeset/*.md
packages/**/CHANGELOG.md
**/*/next-env.d.ts
