name: Knip

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
env:
  CI: ${{ vars.CI }}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  knip:
    name: Knip
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/pnpm-setup-node
      - run: pnpm install
      - run: pnpm run ci:knip
